/* app css stylesheet */
.custom-navcontainer{
  background-color: lightsteelblue;
}

.custom-border{
  border: 1px solid grey;
  padding:20px;
}

.list-group-item{
  cursor: pointer;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #f1eded;
  background-color: black;
}

.navbar-default .navbar-nav>li>a { 
  font-size: large;
}

.navbar-default .navbar-brand {
  color: #777;
  font-size: xx-large;
}

.custom-form{
  border: 3px solid #020080;
  background-color: #B7B7E7;
  padding: 10px;
  /* margin: 2% 25%; */
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.centric{
  text-align: center;  
  width: 100%;
  height: 300px;
}

.centric h1{
  color: whitesmoke;
}

.error{
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
}

.custom-center{  
  padding-left: calc(50% - 140px);     
  height:450px;  
}

.border-box-1{
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
  padding-top: 20px;
  text-align: center; 
  height: 270px; 
  background-color: burlywood;
}

.ellipsis-active{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
