<div class="container">
    <div class="row">
        <div class="col-xs-6 custom-form">
            <form name="custom_form" ng-submit="onSubmit()" novalidate>
                <div class="form-group">
                    <label for="fname">Full Name</label>
                    <input type="text" name="fname" class="form-control" ng-model="customForm.fname" ng-required="true" ng-minlength="5">
                </div>
                <div class="alert alert-danger" ng-if="custom_form.fname.$invalid && custom_form.fname.$dirty">Full name should have proper values!</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" ng-model="customForm.email" ng-required="true">
                </div>
                <div class="alert alert-danger" ng-if="custom_form.email.$invalid && custom_form.email.$dirty">Email should have proper values!</div>
                <div class="form-group">
                    <label>Sex</label><br>
                    <label for="sex" class="radio-inline" ng-repeat="gender in genders">
                        <input type="radio" name="sex" ng-model="customForm.sex" value="{{gender}}">{{gender}}                        
                    </label>
                </div>
                <label for="location">Choose Location</label><br>
                <select name="location" class="select" ng-model="customForm.location" class="form-control">
                    <option ng-repeat="loc in locations" value="{{loc}}">{{loc}}</option>                       
                 </select>
                 <hr>
                <div class="form-group">
                    <label for="active" class="checkbox-inline">
                        <input type="checkbox" name="active" ng-model="customForm.active">Active
                    </label>
                </div>
                <hr>
                <button type="submit" ng-disabled="custom_form.$invalid" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>
        <div class="col-xs-6">
            <detail-view title = "Despacito"></detail-view>
        </div>
    </div>
</div>